workflows/agentic_rag.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "{{ $json.message }}\n",
        "options": {
          "systemMessage": "You are an AI assistant for an ABET accreditation platform at Al-Imam University. You help faculty and staff with questions about course performance, student outcomes, risk predictions, and ABET compliance.\n\nUse the Knowledge Base tool to search for relevant information before answering. Always provide accurate, helpful answers based on the retrieved information.\n"
        }
      },
      "id": "34f2a169-6e36-489a-b94b-fda4ee0aa7b8",
      "name": "Planning Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -272,
        720
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the knowledge base for relevant information to answer questions",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents"
        },
        "options": {}
      },
      "id": "8c98e267-96dd-496c-b7d3-7eb360f47862",
      "name": "Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -384,
        944
      ],
      "credentials": {
        "supabaseApi": {
          "id": "tDEaPxs6raBPly8p",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Query Supabase database to understand schema and retrieve data",
        "operation": "getAll",
        "tableId": "documents"
      },
      "id": "1da40a19-f66d-4df0-8f1b-aeb3d824cace",
      "name": "Supabase Schema Tool",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -96,
        944
      ],
      "credentials": {
        "supabaseApi": {
          "id": "tDEaPxs6raBPly8p",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.routeTo }}",
                    "rightValue": "risk_scanner",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "route-risk-scanner-001"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.routeTo }}",
                    "rightValue": "execution",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "route-execution-001"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.routeTo }}",
                    "rightValue": "direct",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "route-direct-001"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e5d48df4-964b-4400-8f4f-4e192ea63e1a",
      "name": "Route Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        256,
        720
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "{{ $json.response }}",
        "options": {
          "systemMessage": "You are an execution agent. You receive plans from the planning agent and execute them using the available Supabase tools. Follow the plan carefully and return the results."
        }
      },
      "id": "19b4459a-ff2a-4b9b-b40b-37427a6e9ecf",
      "name": "Execution Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        464
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute operations on Supabase database based on the plan",
        "operation": "getAll",
        "tableId": "<__PLACEHOLDER_VALUE__supabase_table_name__>"
      },
      "id": "6ff8c438-6284-4d99-8343-a11d8cc0b9ff",
      "name": "Supabase Execution Tool",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        656,
        704
      ],
      "credentials": {
        "supabaseApi": {
          "id": "tDEaPxs6raBPly8p",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f5b8d3b0-cd79-47fe-8e0b-3fdde1928eeb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -736,
        720
      ],
      "id": "7375213e-c435-4a5c-85d2-9de79e1f8ec7",
      "name": "Webhook",
      "webhookId": "f5b8d3b0-cd79-47fe-8e0b-3fdde1928eeb"
    },
    {
      "parameters": {},
      "id": "563a8aac-1dfa-43e5-8750-441d4141d2a0",
      "name": "Upload Documents Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2032,
        768
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "5a938ddf-6636-4dd8-ac0c-2359f9cf8acc",
      "name": "Extract MD Content",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1600,
        768
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "eb7415c7-c63d-476e-a4ea-0d66be490763",
      "name": "Split Text into Chunks",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1168,
        992
      ]
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "4061383b-d678-41c1-819f-54e4996b5d94",
      "name": "Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1248,
        784
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "55b60ab3-b522-4978-b426-aafcc26240b6",
      "name": "Insert into Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1328,
        560
      ],
      "credentials": {
        "supabaseApi": {
          "id": "tDEaPxs6raBPly8p",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Knowledge base ingestion\n",
        "height": 672,
        "width": 1076
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2128,
        512
      ],
      "typeVersion": 1,
      "id": "5423ddfb-c1f6-4cf2-a904-5606c17bb5f9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Planning Mode\n",
        "height": 832,
        "width": 1040,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        512
      ],
      "typeVersion": 1,
      "id": "02b4f98a-e6d4-44da-a59f-677b905a9ebc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Execution Mode\n",
        "height": 640,
        "width": 784
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        432
      ],
      "typeVersion": 1,
      "id": "4539c4cb-1718-4dd2-b135-255bae0b26f7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.response }}",
        "options": {
          "systemMessage": "You are a Risk Scanner agent for an ABET accreditation platform. Your job is to scan courses and predict their risk using the ML prediction API.\n\nWorkflow:\n1. Use the Supabase tool to query the 'term_metrics' table and get the latest metrics for courses. You can filter by course_id or get all.\n2. For each course with metrics, use the FastAPI Predict tool to call the ML model. Send a POST request to http://localhost:8000/predict/manual with JSON body containing: course_code, program_code, academic_term, avg_score, pass_rate, so1_attainment through so7_attainment (use null if not available), composite_so_index, and trend_value.\n3. Compile all results into a clear summary showing each course, its risk probability, and whether it is At Risk or Safe.\n\nAlways present results in a structured, easy-to-read format with risk percentages."
        }
      },
      "id": "5cd6cf34-bfad-4b3f-beb1-673387c14025",
      "name": "Risk Scanner Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        80
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Query the Supabase database to get course data and term metrics for risk scanning. Use this to fetch courses and their latest performance metrics.",
        "operation": "getAll",
        "tableId": "term_metrics"
      },
      "id": "14cc1b09-c540-42f7-b370-4d1cbd4fec2a",
      "name": "Risk Scanner DB Tool",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        560,
        304
      ],
      "credentials": {
        "supabaseApi": {
          "id": "tDEaPxs6raBPly8p",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/predict/manual",
        "sendBody": true,
        "specifyBody": "json"
      },
      "id": "2093d6e1-7127-46f5-b316-f511b88a4657",
      "name": "FastAPI Predict Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        720,
        304
      ]
    },
    {
      "parameters": {
        "content": "## Risk Scanner Mode\n",
        "height": 480,
        "width": 784,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        0
      ],
      "typeVersion": 1,
      "id": "6ed63bca-4650-40a4-a633-dd2d6e45e269",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\bedya\\.n8n-files\\abet_knowledge.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1824,
        768
      ],
      "id": "3d3cb11e-0e5e-4881-8378-ca6d4abb554f",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1376,
        784
      ],
      "id": "70697282-6f04-4940-8bd5-50176f9d65e7",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "4kMyTBEtcoq8TKTZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -512,
        944
      ],
      "id": "3a2929e0-bc6e-4015-bbdc-a8cd9e6f91f2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "9L3FgZLSAOw6GeJd",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -304,
        1152
      ],
      "id": "372fe5cd-6678-4fc6-8601-ac8703d9ac01",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "4kMyTBEtcoq8TKTZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-prompt-guard-2-86m",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        400,
        304
      ],
      "id": "5fd4dab4-cc14-4280-b05a-303309f017df",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "9L3FgZLSAOw6GeJd",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        480,
        688
      ],
      "id": "ed6ff97a-8368-4ad1-bf29-c48eea8ee72a",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "9L3FgZLSAOw6GeJd",
          "name": "Groq account"
        }
      }
    }
  ],
  "connections": {
    "Planning Agent": {
      "main": [
        [
          {
            "node": "Route Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Planning Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Schema Tool": {
      "ai_tool": [
        [
          {
            "node": "Planning Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Route Decision": {
      "main": [
        [
          {
            "node": "Risk Scanner Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execution Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Execution Agent": {
      "main": [
        []
      ]
    },
    "Supabase Execution Tool": {
      "ai_tool": [
        [
          {
            "node": "Execution Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Planning Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Documents Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract MD Content": {
      "main": [
        [
          {
            "node": "Insert into Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Text into Chunks": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Knowledge Base",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Risk Scanner Agent": {
      "main": [
        []
      ]
    },
    "Risk Scanner DB Tool": {
      "ai_tool": [
        [
          {
            "node": "Risk Scanner Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FastAPI Predict Tool": {
      "ai_tool": [
        [
          {
            "node": "Risk Scanner Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract MD Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Planning Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Risk Scanner Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Execution Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "02d2408e7e74b1b3da2096274afef39e88c485874fa9ed20a0db3fd7edad0138"
  }
}
